@import '../../style/style.scss';

.search__item {
    @include flex-between-center();
    padding: $padding-md;

    img {
        width: 200px;
        height: 300px;
        object-fit: cover;
    }

    .search__item-content {
        width: 50%;

        h2 {

            font: {
                size: $font-lg;
                weight: $weight-xl;
            }

            margin-bottom: $margin-md;
        }

        p {
            line-height: $line-lg
        }

    }

    .search__item-control {
        @include flex-between-center();
        gap: $gap-lg;

        .wishlist {
            color: red !important;
        }

        .fa-heart {
            font-size: $font-lg;
            color: $secondary-font-color;
            cursor: pointer;
            transition: all 200ms linear;
            font-size: $font-xl;

            &:hover {
                color: $secondary-font-color-hover;
            }
        }

        a {
            text-decoration: none;
            background-color: $primary-btn-color;
            outline: none;
            border: 1px solid $primary-btn-color;
            cursor: pointer;
            color: $tertiary-font-color;
            text-transform: uppercase;
            padding: $padding-sm $padding-md;
            border-radius: 7px;
            font-weight: $weight-lg;
            transition: all 200ms linear;

            &:hover {
                background-color: $primary-btn-color-hover;
                border: 1px solid $primary-btn-color-hover;

            }
        }
    }

}